<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="../model/coin.js"></script>
    <script src="../controller/coincontroller.js"></script>
   

    <title>Coin</title>
</head>
<body>

    <h1>Coin</h1>
    <button type="button" onclick="flipCoin()">Flip Coin</button>
    <p id ="coinInfo"></p>
    
</body>
</html>